.idea/

bert/chinese_L-12_H-768_A-12/
Chinese-BERT-wwm/chinese-bert_chinese_wwm_L-12_H-768_A-12/
Chinese-BERT-wwm/chinese_rbt3_L-3_H-768_A-12/
Chinese-BERT-wwm/chinese_rbtl3_L-3_H-1024_A-16/
Chinese-BERT-wwm/chinese_roberta_wwm_ext_L-12_H-768_A-12/
Chinese-BERT-wwm/chinese_roberta_wwm_large_ext_L-24_H-1024_A-16/
Chinese-BERT-wwm/chinese_wwm_ext_L-12_H-768_A-12/
Chinese-XLNet/chinese_xlnet_base_L-12_H-768_A-12/
Chinese-XLNet/chinese_xlnet_mid_L-24_H-768_A-12/
Chinese-ELECTRA/chinese_electra_base_L-12_H-768_A-12/
Chinese-ELECTRA/chinese_electra_small_L-12_H-256_A-4/
albert_zh/albert_base_zh/
albert_zh/albert_base_zh_additional_36k_steps/
albert_zh/albert_large_zh/
albert_zh/albert_small_zh_google/
albert_zh/albert_tiny/
albert_zh/albert_tiny_489k/
albert_zh/albert_tiny_zh_google/
albert_zh/albert_xlarge_zh_177k/
albert_zh/albert_xlarge_zh_183k/
roberta_zh/roberta_zh_l12/
roberta_zh/roberta_zh_L-6-H-768_A-12/
roberta_zh/roeberta_zh_L-24_H-1024_A-16/
roberta_zh/roeberta_zh_L-24_H-1024_A-16_old/
xlnet_zh/XLNet_zh_Large_L-24_H-1024_A-16/
zhuiyi/chinese_roberta_L-4_H-312_A-12/
zhuiyi/chinese_roberta_L-4_H-312_A-12_K-104/
zhuiyi/chinese_roberta_L-6_H-384_A-12/
zhuiyi/chinese_roberta_L-6_H-384_A-12_K-128/
zhuiyi/chinese_simbert_L-12_H-768_A-12/
nezha/NEZHA-Large/
nezha/NEZHA-Large-WWM/

*.zip
*.tar.gz
Tencent_AILab_ChineseEmbedding.txt